Brotli==1.1.0
cffi==1.17.1
cssselect2==0.8.0
et_xmlfile==2.0.0
fonttools==4.59.2
greenlet==3.2.4
Jinja2==3.1.6
MarkupSafe==3.0.2
numpy==2.2.6
openpyxl==3.1.5
pandas==2.3.2
pillow==11.3.0
playwright==1.55.0
pycparser==2.22
pydyf==0.11.0
pyee==13.0.0
pyphen==0.17.2
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
tinycss2==1.4.0
tinyhtml5==2.0.0
typing_extensions==4.15.0
tzdata==2025.2
weasyprint==66.0
webencodings==0.5.1
zopfli==0.2.3.post1
